
.logo{
    width: 10%;
    height: 15%;
    margin-left: 23%;
    margin-top: -1%;
}
.head1{
    margin-left: 32%;
    margin-top: -8.5%;
    font-size: 250%;
    width: 23vw;    
}
.head2{
    width: 27vw;
    margin-left: 32%;
    margin-top: -2.5%;
    font-size: 220%;
}

.nav{
background-color:#008060;
display: flex;
margin-top: 4%;
}
.image{
   margin-top: 1%;
   margin-left: 37%;
   height: 400px;
   width: 780px;
   border-radius: 30px;
}
.container1{
    background-color: #f4f9e4;
    width: 12%;
    border-radius: 14%;
    margin-left: 37%;
    margin-top: 1%;
    height: 28vh;
    border: 4px #99e600 solid;
}
.news{
    font-size: x-large; 
    color: white;
    background-color: #99e600;
    border-radius: 15px 15px 0px 0px;
    padding-left: 20px;
}
ul.list{
    list-style-type: circle;
    font-size: small;
}

.btn-search{
    background-color:#008060;
    color: white;
    border: 1px solid;
    margin-left: 84%;
    border-radius: 0px 20px 20px 0px; 
    height: 40px;
    position: absolute;
    top: 6.1%;
    height: 27px;
}   

#form1{
    width: 12.5vw;
    height: 25px;
    margin-left: 10%;
}

.form-outline{
    width: 20vw;
    margin-left: 70%;
    margin-top: -5%;
}

.container2{
    width: 45vw;
    height: 200px;
    margin-left: 50%;
    margin-top: -13.5%; 
    border-radius: 20px 20px 20px 20px;
    border: #008060 4px solid;
}

.header2{
    background-color:#008060;
    border-radius: 15px 15px 0px 0px; 
    padding-left: 21px;
    color: white;
    height: 40px;
    font-size: x-large;
}
.content1{
    margin-top: -17.5%;
    width: 65%;
    margin-left: 32%;
}

.footer{
    background-color:#9dcd34;
    width: 64.2vw;
    margin-left: 35%;
    margin-top: 0.5%;
}

.btn-back{
    color: #9dcd34;
    background-color: white;
    border: none;
    box-shadow: 15px 15px 15px #00000026 ; 
    border-radius: 5px; 
    margin-left: 43%; 
}

.btn-start{
    color: #9dcd34;
    margin-left: 1%;
    background-color: white;
    border: none;
    box-shadow: 15px 15px 15px #00000026 ;  
    border-radius: 5px; 
}
li {
    color: #99e600; 
  }
  li span {
    color: black; 
  }
.container3{
    margin-top: -45%;
    margin-left: 5%; 
}
.ss1{
    width: 105%;
    height: 6%;
    margin-left: 3%;
    box-shadow: 15px 15px 15px #00000026 ; 
}
.ss2{
    width: 105%;
    height: 6%;
    margin-left: 3%;
    box-shadow: 15px 15px 15px #00000026 ; 
}
.ss3{
    width: 105%;
    height: 6%;
    margin-left: 3%;
    box-shadow: 15px 15px 15px #00000026 ; 
}
.ss4{
    width: 105%;
    height: 6%;
    margin-left: 3%;
    box-shadow: 15px 15px 15px #00000026 ; 
}
.ss5{
    width: 105%;
    height: 6%;
    margin-left: 3%;
    box-shadow: 15px 15px 15px #00000026 ; 
}
.arrow{
    background-color: white;
    border: none;
    font-size: x-large;
    margin-left: 24%;
    box-shadow: 15px 15px 15px #00000026 ;
    position: relative;
    top: -670px; 
}