.header{
    background-color: #0ba0e9;
    width: 100%;
    height: 60px;
}
.contact{
    color: white;
    margin-left: 20%;
    margin-top: -0.1%;
}
.cart
{
    color: white;
    margin-left: 70%;
    margin-top: -3%;
}
.log{
    color: white;
    margin-left: 78%;
    margin-top: -2.6%;
}
.logo{
    height: 110px;
    margin-left: 12%;
    
}
.title{
    margin-left: 20%;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    margin-top: -5.5%;
}
.nav{
    margin-top: -4%;
}
.bg{
    margin-top: 4%;
    width: 100%;
    height: 500px;
}
.welcome{
    color: #0988d1;
    margin-top: -28%;
    font-size: 50px;
    margin-left: 10%;
}
.safe{
    color: #0988d1;
    margin-top: -3%;
    font-size: 50px;
    margin-left: 10%;
}
.btn{
    color: white;
    background-color: #168fd6;
    margin-left: 11%;
    padding: 8px;
    width: 12%;
}
.footer{
   background-color: #f3c114;
    height: 360px;
    margin-top: 16%;
    
}
.head{
    color: white;
    font-size: xx-large;
    font-weight: 200;
    font-style: initial;
    margin-left: 45%;
    font-family: 'Righteous', cursive;
    width: 20vw;
    margin-top: -20%;
}
.img1{
    height: 150px;
    margin-left: 15%;
}
.text{
    color: white;
    font-weight: 500;
    font-size: larger;
    font-family: 'Righteous', cursive;
    margin-left: 13%;
    margin-top: -1%;
}
.texts{
    color: white;
    font-size: small;
    font-family: 'Righteous', cursive;
    margin-left: 15%;
    margin-top: -1%;
}
.img2{
    height: 150px;
    margin-left: 34%;
    margin-top: -19.5%;
}
.text1{
    color: white;
    font-weight: 500;
    font-size: larger;
    font-family: 'Righteous', cursive;
    margin-left: 35%;
    margin-top: -5.5%;
    
}
.texts1{
    color: white;
    font-size: small;
    font-family: 'Righteous', cursive;
    margin-left: 36.5%;
    margin-top: -1%;
}
.img3{
    height: 110px;
    margin-left: 55%;
    margin-top: -22.5%;
}
.text2{
    color: white;
    font-weight: 500;
    font-size: larger;
    font-family: 'Righteous', cursive;
    margin-left: 53%;
    margin-top: -6.5%;
}
.texts2{
    color: white;
    font-size: small;
    font-family: 'Righteous', cursive;
    margin-left: 55.5%;
    margin-top: -1%;
}
.img4{
    height: 70px;
    margin-left: 80%;
    margin-top: -23.5%;
}
.text3{
    color: white;
    font-weight: 500;
    font-size: larger;
    font-family: 'Righteous', cursive;
    margin-left: 78%;
    margin-top: -8%;
}
.texts3{
    color: white;
    font-size: small;
    font-family: 'Righteous', cursive;
    margin-left: 78.5%;
    margin-top: -1%;
}
.care{
    color: #04a0f2;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
    margin-top: 4%;
    margin-left: 60%;
}
.care2{
    color: #04a0f2;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
    margin-top: -2%;
    margin-left: 56.5%;
}
